<h1>Please login!</h1>

<form class="login">
    <div class = "formGroup">
        <label for="inputEmail">Email Address</label>
        <input for="email" class="form-control" id="email-input" placeholder="Email">
    </div>
    <div class="formGroup">
        <label for="InputPassword">Password</label>
        <input for="email" class="form-control" id="password-input" placeholder="Password">
    </div>
</form>