{{!-- <script src = "/public/js/homepage.js"></script> --}}

<header id="pageHeader">
    <!--This logo is hidden and will appear when window is resized for mobile-->
    <div align="left"><img class="responsiveLogo" src="https://i.imgur.com/2ae5uLX.png"></div>
    <div class="responsiveLogOut" align="right"><button id="logOut" onclick="">Log Out</button></div>
</header>

<!-- This is the Top Quotes Box-->
<article id="mainArticle">
      <h3 style="font-family: Arial, Helvetica, sans-serif;">Top 10 Quotes!</h3>
      
      <!-- This is the big white rectangle in the Top Quotes Box -->
      <div style="font-family: Arial, Helvetica, sans-serif;" class="rectangle">
            <ol>
             {{#each quotes}}
             {{> quote/quoteblock}}
             {{/each}}
            </ol>
      </div>
</article>

<!-- This is the left nav/user quotes and add quotes area...the logo disappears when page is resized for mobile...neat! -->
<nav id="mainNav" style="font-family: Arial, Helvetica, sans-serif;">
    <div><img class="logoSize" src="https://i.imgur.com/2ae5uLX.png"></div>
    
    <h3>My Quotes</h3>
    
<!-- This is the white box for the user quotes area -->
    <div class="myquotestangle" > 
      <ul>
        {{#each userQuotes}}
          {{> quote/userquote}}
        {{/each}}
      </ul>
    </div>
     
    <div><button class="addQuoteButton" onclick="document.getElementById('id01').style.display='block'">Add Quote</button></div>
</nav>

<!-- This is the search area -->
<div id="siteAds" style="font-family: Arial, Helvetica, sans-serif;">
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search..." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
  
  
<footer id="pageFooter" style="font-family: Arial, Helvetica, sans-serif;"><button onclick="" class="randomQuoteButton">Spin The Wheel, Raggedy Man!</button></footer>

<!-- The Modal -->
<div id="id01" class="modal modalbody">
    <span onclick="document.getElementById('id01').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  
<!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <img src="https://i.imgur.com/Yjbt4ZR.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Enter Quote</b></label>
        <br>
        <textarea id="textBoxFormatting" type="text" placeholder="Enter Quote" name="uname" required></textarea>
  
        <p>Categories: </p><select id="categoryOptions"></select>
        <div><button type="submit"id="submitQuoteBtn">Submit</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button></div>

      </div>
  



</div>
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
